<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" class="form-example">
     1>This page adds products</h1>
    <   <div class="form-example">
          <label for="id">product id: </label>
          <input type="text" name="product-id" id="product-id" required>
        </div>
        <div class="form-example">
          <label for="name">product name: </label>
          <input type="text" name="product-name" id="product-name" required>
        </div>
        <div class="form-example">
            <label for="email">price: </label>
            <input type="text" name="price" id="price" required>
          </div>
          <div class="form-example">
            <label for="arrival date">arrival date: </label>
            <input type="email" name="arrival-date" id="arrival-date" required>
          </div>
          <div class="form-example">
            <label for="text">manufacturer: </label>
            <input type="manufacturer" name="manufacturer" id="manufacturer" required>
          </div>
        <div class="form-example">
          <input type="submit" value="add">
        </div>
      </form>
      
</body>
</html>